VITE_SUPABASE_URL=https://ikrwffjpvfzdymphhchk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrcndmZmpwdmZ6ZHltcGhoY2hrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MTM1NzEsImV4cCI6MjA4ODE4OTU3MX0.kXrE3zs8K5Q0QhqMhwcAWIlO5wj6WfvJ16yBn-iO-Yk
VITE_API_URL=http://localhost:8001
